html { 
  background: url(IMG_1531.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

h2 {
    padding: 5%;
    text-align: center;
    width: 100%;
    height: 40%;
    color: white
}

.box {
  height: 60%;
  width:  100%;
}

 h1 { 
    font-family: Montez; 
    font-size: 4.9em; 
    font-weight: 300; 
    margin: 0 0.3em; 
    color: #ff0080; 
    text-align: center;
  }

@import url(https://fonts.googleapis.com/css?family=Lato:400,900|Montez);

$buttonBackground: #2c3e50;
$buttonColor: rgba(255,255,255,1);

.sparkley {

  background: lighten( $buttonBackground , 10% );
  color: $buttonColor;
  border: none;

  padding: 16px 36px;
  font-weight: normal;
  
  border-radius: 3px;
  transition: all 0.25s ease;
  
  box-shadow: 0 38px 32px -23px black;
  margin: 0 1em 1em;
  
  &:hover {
   
    background: $buttonBackground;
    color: transparentize( $buttonColor,0.8 );
    
  }
  
}

