html { 
  background: url(IMG_1531.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 100%;
  height: 100%;
}

h2 {
    text-align: center;
    width: 100%;
    height: 100%;
    color: white
}

.flex-container {
  width: 100%;
  height: 100%;
  padding: 5%;
}

.center { 
  align-items: center; 
  justify-content: center;
  text-align: center;
}
